<div class="register_container">
    <div class="card animate__animated animate__bounceInUp">
        <button class="color-primary transparent btn-left" (click)="step = 0" *ngIf="step != 0">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <ng-container *ngIf="step == 0; then person; else pass"></ng-container>
        <ng-template #person>
            <h3>Registro</h3>
        <br>
        <form class="uwu" [formGroup]="personForm" (submit)="next()">
            <!-- Rut -->
            <div class="form-outline mb-4">
                <label class="form-label" for="apodo"><strong>Apodo (opcional)</strong></label>
                <input type="text" id="apodo" class="form-control" formControlName="apodo" />
            </div>

            <!-- Nombres -->
            <div class="form-outline mb-4">
                <label class="form-label" for="nombres"><strong>Nombre</strong></label>
                <input type="text" id="nombres" class="form-control" formControlName="nombres" />
            </div>

            <!-- Apellidos -->
            <div class="form-outline mb-4">
                <label class="form-label" for="apellidos"><strong>Apellido</strong></label>
                <input type="text" id="apellidos" class="form-control" formControlName="apellidos" />
            </div>

            <!-- Correo electrónico -->
            <div class="form-outline mb-4">
                <label class="form-label" for="correo"><strong>Correo electrónico</strong></label>
                <input type="email" id="correo" class="form-control" formControlName="email" />
            </div>

            <!-- Teléfono -->
            <div class="form-outline mb-4">
                <label class="form-label
                " for="telefono"><strong>Teléfono</strong></label>
                <input type="tel" id="telefono" class="form-control" formControlName="contacto" />
            </div>

            <!-- Fecha de nacimiento -->
            <div class="form-outline mb-4">
                <label class="form-label
                " for="fechaNacimiento"><strong>Fecha de nacimiento</strong></label>
                <input type="date" id="fechaNacimiento" class="form-control" formControlName="nacimiento" />
            </div>

            <!-- Género -->
            <div class="form-outline mb-4">
                <label class="form-label
                " for="genero"><strong>Género</strong></label>
                <select id="genero" class="form-select" formControlName="genero">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>
            </div>

            <span class="info text-center">{{ info }}</span>
            <div class="col">
                <a routerLink="/login" class="link">¿Ya tienes cuenta? Ingresa</a>
            </div>

            <br>



            <!-- Botón para enviar el formulario -->
            <button type="submit" class="btn btn-block">Siguiente</button>
        </form>
        </ng-template>
        <ng-template #pass><!-- Contraseña -->
            <h3>Bienvenido,</h3>
            <h4>{{ fullname }}</h4>
        <br>
        <form class="uwu" [formGroup]="passwordForm" (submit)="register()">
            <div class="form-outline mb-4">
                <label class="form-label" for="contraseña"><strong>Contraseña</strong></label>
                <input type="password" id="contraseña" class="form-control" formControlName="password" />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="confirmarContraseña"><strong>Confirmar contraseña</strong></label>
                <input type="password" id="confirmarContraseña" class="form-control" formControlName="confirmPassword" />
            </div>
            <span class="info text-center">{{ passInfo }}</span>
            <br>
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <label class="form-check-label" for="recuerdame"> Recordarme </label>
                        <input formControlName="recuerdame" class="form-check-input" type="checkbox" value=""
                            id="recuerdame" checked />
                    </div>
                </div>
            </div>
            <div class="col">
                <a routerLink="/login" class="link">¿Ya tienes cuenta? Ingresa</a>
            </div>

            <br>
            
            <button type="submit" class="btn btn-block">Registrarme</button>
        </form>
        </ng-template>
    </div>
</div>