<a class="btn btn-primary offcanvas-btn" data-bs-toggle="offcanvas" href="#offcanvasOptions" role="button"
    aria-controls="offcanvasOptions">
    Opciones
</a>

<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total</h5>
                    <p class="card-text">$ 6.325.123</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Han pagado:</h5>
                    <div class="quantity">
                        <p class="card-text">10/12</p>
                        <a href="">Ver</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"></div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"></div>
    </div>
</div>
























<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasOptions" aria-labelledby="offcanvasOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasOptionsLabel">¿Qué deseas hacer?</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="options">
            <a class="btn">To Do List</a>
            <a class="btn">Gestión de Horarios</a>
            <a class="btn" routerLink="/admin/personas">Gestión de Personas</a>
            <a class="btn">Gestión de Negocio</a>
            <a class="btn">Gestión de Habilidades</a>
        </div>
    </div>
</div>