.btn {
    margin-right: 20px;
}

.usuario-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #e7e7e7;
    box-shadow: 0px 33px 49px -50px rgba(122, 122, 122, 1);
}

.usuario-info p{
    margin: 0;
    background-color: #e7e7e7;
}

.mail {
    font-size: .5rem;
}

h6, p {
    margin: 0;
}

.card {
    border: 0;
    background-color: #e7e7e7;
    height: 100%;
    margin: 5px auto;
}

.admin {
    border: goldenrod 2px solid;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    margin: auto;
}

.fa-solid {
    font-size: 2rem;
    color: #ffffff;
}