<br>

<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <h3>Usuarios</h3>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 pb-2">
                <button class="card w-100" type="button" data-bs-toggle="modal" data-bs-target="#createClient"
                    style="background-color: rgb(197, 197, 197);">
                    <div class="add">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </button>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 pb-2" *ngFor="let user of getUsers">
                <button class="card w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                    [ngClass]="{'admin': user.roles.length > 0}">
                    <div class="nombre-usuario text-center pt-2 w-100">
                        <h6>{{ user.name }} {{ user.lastname }}</h6>
                    </div>
                    <div class="usuario-info w-100">
                        <p class="mail">{{ user.mail }}</p>
                        <p>{{ user.birthdate | date:"dd / MM / yyyy" }}</p>
                        <p>+56 {{ user.contact }}</p>
                    </div>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li *ngIf="user.roles.length > 0"><button class="dropdown-item"
                            (click)="removeAdmin(user.mail)">Quitar admin.</button></li>
                    <li *ngIf="user.roles.length == 0"><button class="dropdown-item"
                            (click)="makeAdmin(user.mail)">Hacer admin.</button></li>
                    <li><a class="dropdown-item" href="#">Borrar</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Ver Perfil</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <h3>Atletas</h3>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 pb-2">
                <button class="card w-100" type="button" data-bs-toggle="modal" data-bs-target="#createAthlete"
                    style="background-color: rgb(197, 197, 197);">
                    <div class="add">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </button>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 pb-2" *ngFor="let athlete of athletes">
                <button class="card w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="nombre-usuario text-center pt-2 w-100">
                        <h6>{{ athlete.name }} {{ athlete.lastname }}</h6>
                    </div>
                    <div class="usuario-info w-100">
                        <p class="mail">{{ athlete.work_line }}</p>
                        <p>{{ athlete.birthdate | date:"dd / MM / yyyy" }}</p>
                        <p>{{ athlete.user.name }} {{ athlete.user.lastname }}</p>
                    </div>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">

                    <li><a class="dropdown-item" href="#">Borrar</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Ver Perfil</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createClient" tabindex="-1" aria-labelledby="createClientLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createClientLabel">Agregar Cliente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="createClient" (submit)="addClient()">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Correo del usuario:</label>
                        <input type="mail" class="form-control" id="recipient-name" formControlName="mail">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cerrar">Cerrar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!createClient.valid">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="createAthlete" tabindex="-1" aria-labelledby="createAthleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createClientLabel">Agregar Cliente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="createAthlete" (submit)="addAthlete()">
                <div class="modal-body">
                    <div>
                        <label for="recipient-name" class="col-form-label">Nombre</label>
                        <input type="text" class="form-control" id="recipient-name" formControlName="name">
                    </div>
                    <div>
                        <label for="recipient-lastname" class="col-form-label">Apellido</label>
                        <input type="text" class="form-control" id="recipient-lastname" formControlName="lastname">
                    </div>
                    <div>
                        <label for="recipient-user" class="col-form-label">Usuario a Cargo:</label>
                        <select class="form-select" id="recipient-user"
                            aria-label="Selecciona el usuario que será el apoderado"
                            formControlName="id_user_in_charge">
                            <option [value]="user.id" *ngFor="let user of getUsers; index as i" [selected]="i === 0"> {{
                                user.name }} {{ user.lastname }}</option>
                        </select>
                    </div>
                    <div>
                        <label for="recipient-birthdate" class="col-form-label">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" id="recipient-birthdate" formControlName="birthdate">
                    </div>
                    <div>
                        <label for="recipient-establishment" class="col-form-label">Establecimiento</label>
                        <select class="form-select" id="recipient-establishment"
                            aria-label="Selecciona el establecimiento donde entrenará"
                            formControlName="id_establishment">
                            <option [value]="establishment.id" *ngFor="let establishment of establishments; index as i"
                                [selected]="i === 0"> {{ establishment.name }} - {{ establishment.address }}</option>
                        </select>
                    </div>
                    <div>
                        <label for="recipient-workline" class="col-form-label">Línea de Trabajo</label>
                        <select class="form-select" id="recipient-workline"
                            aria-label="Selecciona el establecimiento donde entrenará" formControlName="id_workline">
                            <option [value]="workline.id" *ngFor="let workline of worklines; index as i"
                                [selected]="i === 0"> {{ workline.identifier }} - {{ workline.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cerrar">Close</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!createAthlete.valid">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>