<section id="dashboard" *ngIf="isDataLoaded">
    <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem; height: 100vh; position: static;">
        <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip">
            <img src="../../../assets/images/need_to_buff.png" alt="" class="img-fluid">
        </a>
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item">
                <a class="nav-link py-3 border-bottom text-center" aria-current="page" title=""
                    [ngClass]="{active: show == 'dashboard'}" (click)="show = 'dashboard';" data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-original-title="Home">
                    <i class="fa-solid fa-gauge-high"></i>
                </a>
            </li>
            <li>
                <a class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" id="establishmentAthletes"
                    [ngClass]="{active: show == 'athletes'}" (click)="show = 'athletes';" data-bs-placement="right"
                    data-bs-original-title="Dashboard">
                    <i class="fa-solid fa-person-running"></i>
                </a>
            </li>
            <li>
                <a class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip"
                    [ngClass]="{active: show == 'exercises'}" (click)="show = 'exercises'" data-bs-placement="right"
                    data-bs-original-title="Exercises">
                    <i class="fa-solid fa-dumbbell"></i>
                </a>
            </li>
            <li>
                <a class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip"
                    [ngClass]="{active: show == 'calendar'}" (click)="show = 'calendar'" data-bs-placement="right"
                    data-bs-original-title="Calendar">
                    <i class="fa-solid fa-calendar-days"></i>
                </a>
            </li>
            <li>
                <a class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip"
                    [ngClass]="{active: show == 'groups'}" (click)="show = 'groups'" data-bs-placement="right"
                    data-bs-original-title="Groups">
                    <i class="fa-solid fa-people-group"></i>
                </a>
            </li>
            <li>
                <a class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip"
                    [ngClass]="{active: show == 'planification'}" (click)="show = 'planification'"
                    data-bs-placement="right" data-bs-original-title="planifications">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </li>
            <li>
                <a class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip"
                    [ngClass]="{active: show == 'banners'}" (click)="show = 'banners'"
                    data-bs-placement="right" data-bs-original-title="banners">
                    <i class="fa-solid fa-tv"></i>
                </a>
            </li>
            <li>
                <a class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip"
                    [ngClass]="{active: show == 'config'}" (click)="show = 'config'"
                    data-bs-placement="right" data-bs-original-title="config">
                    <img src="../../../assets/images/settings-svgrepo-com.svg" alt="" class="svg">
                </a>
            </li>
        </ul>
        <div class="dropdown border-top">
            <a href="#"
                class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
                id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>

    <div class="container-fluid content vh-100">

        <div class="center my-3">
            <mat-form-field>
                <mat-label>Selecciona tu sede</mat-label>
                <mat-select>
                    <mat-option   value="{{ e.id }}" 
                                *ngFor="let e of establishments; index as i;" 
                                (click)="index = i; id_establishment = e.id;" 
                                [disabled]="id_establishment == e.id"
                                [routerLink]="['/admin/dashboard/' + id_community + '/' + e.id]"
                                >
                                {{ e.name }} {{ e.id }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <br>

        <app-athletes *ngIf="show == 'athletes'"></app-athletes>
        <app-groups *ngIf="show == 'groups'"></app-groups>
        <app-classes *ngIf="show == 'calendar'" [classSelected]="classSelected" [show]="show" (classSelectedChanges)="onClassSelectedChanges($event)" (showChanges)="onShowChanges($event)">
        </app-classes>
        <app-exercises *ngIf="show == 'exercises'"></app-exercises>
        <app-planification *ngIf="show == 'planification'" [id_establishment]="id_establishment"></app-planification>
        <app-class *ngIf="show == 'class'" [idClass]="classSelected"></app-class>
        <app-banners *ngIf="show == 'banners'"></app-banners>
        <app-configuration [community]="community" [establishments]="establishments" *ngIf="show == 'config'"></app-configuration>
        <div *ngIf="show == 'dashboard'">
            <mat-chip-set aria-label="Fish selection">
                <mat-chip>{{ establishments.length }} {{ establishments.length == 1 ? 'establecimiento': 'establecimientos' }}</mat-chip>
                <mat-chip>{{ athletes.length }} {{ athletes.length == 1 ? 'atleta': 'atletas' }}</mat-chip>
                <mat-chip>{{ users.length }} {{ users.length == 1 ? 'cliente': 'clientes' }}</mat-chip>
                <mat-chip>{{ worklines.length }} {{ worklines.length == 1 ? 'línea de trabajo': 'líneas de trabajo' }}</mat-chip>
                <mat-chip>{{ groups.length }} {{ groups.length == 1 ? 'grupo': 'grupos' }}</mat-chip>
                <mat-chip>{{ banners.length }} {{ banners.length == 1 ? 'banner': 'banners' }}</mat-chip>
            </mat-chip-set>
        </div>
    </div>
</section>

<app-screen-loading *ngIf="!isDataLoaded"></app-screen-loading>