<section id="dashboard">
    <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem; height: 100vh; position: static;">
        <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip">
            <img src="../../../assets/images/need_to_buff.png" alt="" class="img-fluid">
        </a>
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item">
                <a class="nav-link py-3 border-bottom text-center" aria-current="page" title="" [ngClass]="{active: show == 'dashboard'}" (click)="show = 'dashboard';"
                    data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="fa-solid fa-gauge-high"></i>
                </a>
            </li>
            <li>
                <a class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" id="establishmentAthletes" [ngClass]="{active: show == 'athletes'}" (click)="show = 'athletes';"
                    data-bs-placement="right" data-bs-original-title="Dashboard">
                    <i class="fa-solid fa-person-running"></i>
                </a>
            </li>
            <li>
                <a class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" [ngClass]="{active: show == 'clients'}" (click)="show = 'clients'"
                    data-bs-placement="right" data-bs-original-title="Clients">
                    <i class="fa-solid fa-person"></i>
                </a>
            </li>
            <li>
                <a class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" [ngClass]="{active: show == 'calendar'}" (click)="show = 'calendar'"
                    data-bs-placement="right" data-bs-original-title="Calendar">
                    <i class="fa-solid fa-calendar-days"></i>
                </a>
            </li>
            <li>
                <a class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" [ngClass]="{active: show == 'groups'}" (click)="show = 'groups'"
                    data-bs-placement="right" data-bs-original-title="Groups">
                    <i class="fa-solid fa-people-group"></i>
                </a>
            </li>
        </ul>
        <div class="dropdown border-top">
            <a href="#"
                class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
                id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>

    <div class="container-fluid content">
            <div class="btn-group d-flex justify-content-center">
            <a class="btn btn-outline-primary"
                    [ngClass]="id_establishment == e.id ? 'active' : ''" 
                    aria-current="page" 
                    *ngFor="let e of establishments; index as i;"
                    (click)="index = i; id_establishment = e.id; update();"
                    [routerLink]="['/admin/dashboard/' + id_community + '/' + e.id]">{{ e.name }} {{ e.id }}</a>
        </div>

        <br><br><br>
        
        <app-athletes *ngIf="show == 'athletes'"></app-athletes>
    </div>
</section>