.fa-solid .active{
    color: --var(--secondary-color);
    font-size: 1.5rem;
}

.fa-solid {
    color: --var(--primary-color);
    font-size: 1.5rem;
}

#dashboard {
    display: flex;
}

.svg {
    width: 30px;
    height: 30px;
    fill: var(--secondary-color);
    /* change svg color */
    stroke: var(--secondary-color);
}