<section class="info" *ngIf="isLandingInfoLoaded">
    <div class="simple-navbar">
        <button class="btn btn-light volver"><i class="fa-solid fa-arrow-left" (click)="volver()"></i></button>
        <h1 class="gym-acronym">{{ community.acronym }}</h1>
    </div>
    <div class="admin">
        <app-profile-menu *ngIf="isUserLoggedIn"></app-profile-menu>
        <a [routerLink]="['/auth/login/']" routerLinkActive="router-link-active" *ngIf="!isUserLoggedIn"
            class="btn btn-ntb">Ingresar</a>
        <a [routerLink]="['/admin/dashboard/' + communityId + '/' + establishments[0].id]"
            routerLinkActive="router-link-active" class="btn btn-ntb" (click)="load()">Administrar</a>
    </div>
</section>
<section class="banners" *ngIf="isLandingInfoLoaded">
    <div id="banner" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#banner-images" [attr.data-bs-slide-to]="banner.index!-1"
                class="active" [attr.aria-current]="banner.index == bannerPosition ? 'true':'false'" aria-label="Slide"
                *ngFor="let banner of banners" [ngClass]="banner.index == bannerPosition ? 'active':''"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let banner of banners"
                [ngClass]="banner.index == bannerPosition ? 'active':''">
                <ng-container *ngIf="isImage(banner.url);then image else video"></ng-container>
                <ng-template #video>
                    <video autoplay [muted]="true" loop class="bannerVideo">
                        <source [src]="bannerImagePath + banner.url" type="video/mp4">
                    </video>
                </ng-template>
                <ng-template #image>
                    <img [src]="bannerImagePath + banner.url" class="d-block w-100 bannerImage"
                        [alt]="banner.description == null ? '' : banner.description">
                </ng-template>
                <div class="carousel-caption d-none d-md-block">
                    <p>{{ banner.description }}</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#banner-images" data-bs-slide="prev"
            (click)="back()">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#banner-images" data-bs-slide="next"
            (click)="next()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<div class="container" *ngIf="isLandingInfoLoaded">
    <div class="card establishments">
                <mat-tab-group>
                    <mat-tab [label]="establishment.name" *ngFor="let establishment of establishments">
                        <ng-template matTabContent>
                            <mat-chip-set class="chip">
                                <mat-chip>
                                    <i class="fa-solid fa-warehouse"></i>
                                    {{ establishment.capacity}} personas
                                </mat-chip>
                                <mat-chip>
                                    <i class="fa-solid fa-location-dot"></i>
                                    {{ establishment.address }}
                                </mat-chip>
                                <mat-chip>
                                    <i class="fa-solid fa-users-line"></i>
                                    {{ establishment.athletes.length }} {{ establishment.athletes.length == 1 ?
                                    'cliente': 'clientes' }}
                                </mat-chip>
                            </mat-chip-set>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
</div>

<div class="container" *ngIf="isLandingInfoLoaded">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <section class="comments">
                <!-- Insertar Comentario -->
                <div class="container">
                    <mat-form-field>
                        <textarea matInput placeholder="Escribe un comentario" (change)="setComment($event)"></textarea>
                    </mat-form-field>

                    <div class="botones-juntos">
                        <div class="upload-section">
                            <label for="file-upload" class="custom-file-upload">
                                <i class="fa-solid fa-camera"></i>
                            </label>
                            <input id="file-upload" type="file" (change)="onFileSelected($event)" hidden />
                            <span class="file-name" *ngIf="file?.name != null">{{ file?.name }}</span>
                        </div>

                        <button class="btn btn-primary" (click)="doComment()">Comentar</button>
                    </div>
                </div>
                <div class="container">
                    <div class="comments-list">
                        <div class="comment" *ngFor="let comment of comments">
                            <div class="comment-body">
                                <ng-container *ngIf="isImage(comment.url);then image else video"></ng-container>
                                <ng-template #video>
                                    <video autoplay [muted]="true" loop class="bannerVideoContent">
                                        <source [src]="contentImagePath + comment.url" type="video/mp4">
                                    </video>
                                </ng-template>
                                <ng-template #image>
                                    <img [src]="contentImagePath + comment.url" class="d-block w-100 bannerImageContent"
                                        [alt]="comment.description == null ? '' : comment.description">
                                </ng-template>
                            </div>
                            <div class="comment-footer">
                                <p><strong>{{ comment.user_name }} {{ comment.user_lastname }}:</strong> {{ comment.description }}</p>
                                <span class="date">{{ comment.date | date }}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
            <div class="community-info">
                <div class="container">
                    <div class="community-description">
                        <p>{{ community.description }}</p>
                    </div>
                    <div class="gym-presentation">
                        <!-- <img [src]="community.logo == null ? 'https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg' : community.logo"
                            alt="" class="gym-logo"> -->
                        <h1 class="social-reason">{{ community.razon_social }} [{{ community.acronym }}]</h1>
                    </div>
                    <!-- instagram y facebook -->
                    <div class="social-media">
                        <a href="https://instagram.com/{{ community.instagram }}" target="_blank" class="instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://facebook.com/{{ community.facebook }}" target="_blank" class="facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-screen-loading *ngIf="!isLandingInfoLoaded"></app-screen-loading>